@charset "utf-8";
body{font-size: 18px; background-color: #fff; color: #3c2a13; font-family: "Open Sans","Helvetica Neue",Helvetica,"Arial","Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif; min-width: 320px;}

a:hover{opacity: 0.7; text-decoration: none;}
a{color: #3c2a13;}
.container{max-width: 925px;}
.img-block{max-width: 100%; display: block;}
w-full{width: 100%;}
.bg-1{background:url("../images/bg_01.png") repeat}
.pink{color: #ff315d}
.green{color: #449d8d;}
.img{max-width: 100%;}
.uborder {background: rgba(0, 0, 0, 0) linear-gradient(transparent 70%, #FFF261 30%) repeat scroll 0 0; font-weight: bold;}
.anime {transition: all 300ms 0s ease;}
/*
.wrap{max-width: 1350px; margin: 0 auto;}
header{background:url("../images/img_01.png") no-repeat scroll 0 0 / cover;}
.sec-1_2{background:url("../images/bg_02.png") no-repeat scroll 0 0 / 100%;}
*/

.img_01{width: 100%;}
.to_contact{padding: 65px 15px 80px; border-top: 5px solid #3c2a13; background:url("../images/bg_01.png") repeat; text-align: center;}
.to_contact img.contact_01{display: block; margin:0 auto 30px;}
.to_contact a{transition: all 300ms 0s ease; margin: auto; display: block; max-width: 789px;}
.to_contact a:hover{width: 100%;}
.contact_02{transition: all 300ms 0s ease; width: 90%;}
.to_contact a:hover img{width: 100%;}

/*text*/
.txt{line-height: 2;}
.txt-01{margin: 30px 0 40px;}
.txt-02{margin: 10px 0 40px;}
.txt-03{margin: 30px 0 0;}
.txt-04{margin: 30px 0 20px;}
.txt-05{margin: 0;}
.txt-06{margin: 20px 0 0;}
.txt-07{margin: 40px 0 0; text-align: center;}
.txt-08{margin: 40px 0 10px; text-align: center;}
.txt-09{margin: 40px 0 0; text-align: center;}
.txt-10{margin: 0 0 20px;}
.txt-11{margin: 40px 0 30px;}

/*section*/
section{padding-bottom: 75px;}
.sec-head{text-align: center; padding:20px 15px 25px; background-color: #ff6c8b}
.sec-1 .sec-head{background-color: #314361}
.div-img_03{position: relative;}
.img_03{top: 8%; right: 12%;}
.div-img_04{padding: 55px 0 0;}

.sec-2_2{padding-top: 40px;}
.row-2_2 > div{margin-bottom: 25px;}
.row-2_2 > div:last-child{margin-bottom: 0;}

.div-img_14{padding: 75px 0 0;}
.img_14_2{display: block; margin: 30px auto 50px;}
.div-img_14_3{margin:0 20px 20px 0; min-width: 333px;}
.sec-3_2{background:url("../images/bg_03.png") no-repeat scroll 0 0 / 100% 100%; padding: 30px 5px 30px 15px; margin-top:30px;}
.text-3_2{font-weight: bold; font-size: 30px; text-align: center; color: #3c2a13; margin-bottom: 25px;}
.inner-3_2{max-width: 650px; margin: auto; font-size: 18px;}
.row-3_2 .col-left{border-right: 1px solid #cac1b7;}
.row-3_2 span{display: inline-block; margin-left: 10px;}

.sec-4{padding-bottom: 0;}
.div-img_16{padding: 75px 0 85px;}
.sec-4_2{background-color: #fff; }
.sec-4_2 > div{padding: 45px 0;}
.pf-01{background:url("../images/pf_03.png") no-repeat scroll 0 0 / cover;}
.pf-02{background:url("../images/pf_06.png") no-repeat scroll 0 0 / cover;}
.pf-03{background:url("../images/pf_09.png") no-repeat scroll 0 0 / cover;}
.pf-04{background:url("../images/pf_12.png") no-repeat scroll 0 0 / cover;}

.sec-5 .container{padding-top: 85px;}
.item-qa{background:url("../images/bg_03.png") no-repeat scroll 0 0 / 100% 100%; padding: 20px; margin-bottom:30px;}
.qa-q{-webkit-align-items:center; align-items:center; padding: 0 0 20px; margin-bottom: 20px; border-bottom: 2px solid #395da8; font-size: 24px; font-weight: bold; color: #395da8}
.qa-a{-webkit-align-items:center; align-items:center; font-size: 24px; font-weight: bold; color: #ff315d}
.ico_01,.ico_02{margin-right: 10px;}
.qa-a2{font-size: 18px; color: #3c2a13; padding-left: 87px; line-height: 1.8;}
.img_18{display: block; width: 100%; margin-top: 50px;}

.copyright{text-align: center; font-size: 10px; color: #fff; background-color: #3c2a13; padding: 10px 0;}

.icon_03{position: fixed; right: 20px; bottom: 20px; display: none;}
.icon_03 img{display: block;}

/*PC*/
@media (min-width: 768px){
    .pc-hidden{display: none;}
}

/*スマホ*/
@media (max-width: 767px){
    .sm-hidden{display: none;}
    .to_contact{padding: 30px 15px;}
    section{padding-bottom: 40px;}
    .sec-body{padding: 0 15px;}
    .img_03{width: 55%; top: 5%; right: 5%;}
    .text-3_2{font-size: 22px;}
    .row-3_2 .col-left{border-right: none;}
    .sec-4_2 .col-left{margin-bottom: 20px;}
    .row-3_1_2.flex{display: block;}
    .div-img_14_3{min-width: auto; margin: 0 0 20px;}
    
    .img_17{max-width: 200px;}
    .qa-q,.qa-a{-webkit-align-items:flex-start; align-items:flex-start; font-size: 16px;}
    .ico_01,.ico_02{width: 25px; margin-right: 5px;}
    .qa-a2{font-size: 16px; padding:15px 0 0;}
    .icon_03{right: 10px; bottom: 10px;}
    .icon_03 img{width: 75px}
    

    .div-img_14,
    .div-img_16,
    .sec-5 .container{padding-top: 40px;}
    
}